
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


:root{
    --cor-principal: #F3EEEA;
    --vermelho: #d0383e;
    --font-principal: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-principal);
    font-size: 16px;
}

.senai{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    text-align: center;
}

.left{
    padding: 1em;
}

.rigth{
    display: flex;
    align-items: center;
}

.senai__titulo{
    font-size: 28px;
    font-weight: 700;
}

.senai__descricao{
    background-color:#F3EEEA;
    border-radius: 18px;
    font-size: 18px;
    padding: 2em;
    width: 100%;
    text-align: center;
    font-weight: 400;
}

.senai__imagem{
    padding: 1em;
    width: 50%;
    height: 12.5rem;
}

.rodape{
    height: 40vh;
    width: 100vw;
    background-color: var(--cor-terciaria);
    /* está em sua disposição a variavel cor-terciaria,
    caso queira modificar a paleta de cores. */  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.rodape__imagens{
    display: flex;
    justify-content: flex-end;
    gap: 4em;
    padding: 0.5em 7em;
    width: 50px;
    height: 100px;
    position: relative;
}

.rodape__imagem{
    width: 50px;
    height: 50px;
    position: absolute;
}


.rodape_texto{
    font-size: 18px;
    gap: 10px;
}

.rodape_texto__link{
    text-decoration: none;
    color: var(--interativa);
}