body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color:
    padding: 10px;
    margin-left: 40px;
    margin-top: 40px;
  }
  
  .logo_text {
    display: flex;
    align-items: center;
  }
  
  .logo_text img {
    width: 50px; /
    margin-right: 10px;
  }
  
  .logo_text h1 {
    color: #d02020; 
    margin: 0;
  }

  h2{
    text-align:flex;
    margin-left: 20px;
    margin-top: 60px;
  }

  pre{
    box-sizing: border-box;
    display: flex;
    align-items: left;
    justify-content: left;
    background-color: #eee;
    width: 1300px;
    height: 60px;
    position: relative;
    font-size: 20px;
    margin-left: 20px;
   
    
  }

  button{
    position: absolute;
    right: 0px;
    background-color: #d02020;
    width: 5%;
    height: 50px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
    
  }

  button img{

    height: 80%;
    

  }

  h1{
    font-size: 30px;
  }



  
