:root{
    --cor-terciaria: #F3EEEA;
    --interativa: #d0383e;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rodape{
    height: 50vh;
    width: 100vw;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.rodape_texto{
    font-size: 25px;
    gap: 10px;
    display: flex;
}

.rodape_texto__link{
    text-decoration: none;
    color: var(--interativa);
}
