*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rodape{
    height: 50vh;
    width: 100vw;
    background-color: #F3EEEA;
}

.rodape_texto{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}